<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%= link_to "Home", root_path %>
<%= link_to "About", about_path %>
<%= link_to "contact_us", contacts_path %>

<div class = "container">
    
     <div class="jumbotron center">
     <h1>Welcome to the Blog!</h1>
     <p>
       <%= link_to "Log in", "#", class: "btn btn-default btn-lg" %>
       <%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %>
  </p>    
</div> 
    
    
    </div
    
    
    
  